@charset "utf-8";
button{
    border: none;
    background:none;
}
.sp{
    display: none;
}
/* Padding*/
.pd-05{
    padding: 0.5rem;
}
.pd-1{
    padding: 1rem;
}
.pd-2{
    padding: 2rem;
}
.pd-3{
    padding: 3rem;
}
.pd-4{
    padding: 4rem;
}
.pdtd-2{
    padding:2rem 0;
}
/* Margin */
.mg-1{ 
    margin: 1rem;
}
.mgrl-1{
    margin: 0 1rem; 
}
.mgtd-2{
    margin: 2rem 0;
}
/* 1 ヘッダー */
header{
    background: url(../images/mainbackground1.png) no-repeat top center;
    background-size: cover;
    
}
.main-text{
    padding: 4rem 0 1rem 1rem;
}
.main-img{
    /* width: 30%; */
    /* height: auto; */
    padding: 2.5rem 0 0 0;

}
/* 2 3つの機能*/
#function{
    background-color: #f9d8df;
    padding-bottom: 2rem;  
}
.main-text p{
    margin: 0;
    padding: 0;
    font-size: 2rem;
}
.sub-title{
    background: url(../images/background-bh.png) no-repeat top center;
    background-size: cover;
    margin: 0 0 5rem 0;
    padding: 3rem 0;
}
.sub-title h2{
    font-size: 2rem;
    font-family: 'Times New Roman',serif, cursive, monospace;
    text-align: center;
    padding: 3rem 0 1.5rem 0;
    color: #292527;
}
.sub-title p {
    font-size: 0.8rem;
    text-align: center;
    padding-bottom: 1rem;
    line-height:20px;
    color: #292527;
}
.three-functions{
    background: white;
    text-align: center;
}
.product-name{
    padding: 3rem 0 3rem 0rem;
    font-size: 1.5rem;
    font-family: 'Times New Roman',serif, cursive, monospace;
    text-align: center;
    align-items: center;
}
.three-functions-border{
    position: relative;
    margin-top: 0;
    padding: 0;
    border: 1px solid #F7E7F0;  
}
.three-functions-title{
    display: inline-block;
    color:#E64077;
    font-size: 60px;
    transform: translateY(-50%) translateX(0em);
    background-color: white;
    font-family: 'Times New Roman',serif, cursive, monospace;
    text-align: center;
    align-items: center;
}
.three-functions-content {
    margin-top: 1rem;
}
.number-pinkcircle{
    text-align: right;
    padding-right: 0.5rem;
}
.functions-text{
    padding-top: 0.5rem;
}
.functions-text h2{
    font-size: 36px;
    font-family: 'Times New Roman',serif, cursive, monospace;
    color: #E64077;
    text-align: left;
    padding: 0 0 0.5rem 0;
}
.functions-text p{
    font-size: 17px;
    text-align: left;
}
.three-points-imgs{
    padding: 2rem 0 0 0;
}
.products-details{
    padding: 2rem 0;
    text-align: center;
    align-items: center;
}
.products-shampoo{
    text-align: right;
}
.products-shampoo h4{
    color: #E64077;
    font-size: 0.8rem;
}
.products-shampoo p{
    font-size: 0.8rem;
}
.products-conditioner{
    text-align: left;
}
.products-conditioner h4{
    color: #E64077;
    font-size: 0.8rem;
}
.products-conditioner p{
    font-size: 0.8rem;
}

.products-details span{
    font-size: 1.5rem;
    font-style: bold;
}
.products-details button{
    width: 90%;
    padding: 0;
    margin: 0;

}

/* 3-ヘアダメージ */
#damging-hair{
    background-color: white;
    padding: 4rem 0; 
}
.haircareset{
border: 1px solid #AFA1D0;  
padding: 0;
width: 75%;
margin-bottom: 3rem;
margin-top: 4rem;
}

.haircareset h3{
    text-align: center;
    background-color:#AFA1D0 ;
    padding: 1rem 0;
    margin: 0;
    color: white;
    font-family: monospace;
    font-size: 1.5rem;
}

.haircareset-img{
    text-align: center;
    padding: 2rem 0 1rem 2rem;

}
.haircareset-text{
    padding: 2rem 0 1rem 1.5rem;
    text-align: left;
    align-items: center;
    font-size: 0.8rem;
}
.haircareset-text h4{
    font-size: 1rem;
}
.haircareset-text span{
    font-size: 1.5rem;
    font-style: bold;
}
.haircareset-text button{
   padding: 0;
}

.damaginghair-content{
    padding: 0 0 0 4rem;
}
.damaginghair-content p{
    text-align: center;
    color: #924CA4;
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    margin: 0; 
}
.damaginghair-content h2{
    text-align: center;
    color: #924CA4;
}
.damaginghair-content span{
    border-bottom: solid 1px #924CA4;
}
.damaginghair-text p{
    color: #4F4E55;
    font-size: 0.9rem;
    text-align: left;
}
.hairtrouble-content p{
    color:#796EB0;
    font-size: 1.5rem;
    text-align: left;
    padding: 0.6rem 0 0.5rem 0;
}
.hairtrouble{
    background-color: #F9F5F6;
    padding: 1rem 0;
}
.hairtrouble-h4{
    text-align: center;
    color: #4F4E55;
    padding-top: 0.5rem;
}
/* 4-美人ヘア */
#beautiful-hair{
    background: url(../images/background-bh.png) no-repeat top center;
    height: 50vh;
    background-size: cover;
}
.beautifulhair-content{
    padding: 3rem 0 2rem 0rem;
    text-align: center;
}
.beautifulhair-content h3{
    color: #4F4E55;
    font-family: "Helvetica Neue", serif, cursive, monospace;
    font-size: 1.2rem;
}

.beautifulhair-content h2{
    color: #E13F70;
    font-family: "Zen Old Mincho", serif, cursive, monospace;
    font-size: 2.5rem;
    padding-top: 1rem;
}
.beautifulhair-content span{
    border-bottom: solid 1px#E13F70;
}
.beautifulhair-content p{
    font-size: 0.8rem;
    font-family: "Helvetica Neue", serif, cursive, monospace;
    padding: 1rem 0;
}
.beautiful-box{
    position: relative;
    align-items: center;
    height: 50vh;

}
.beautifulhair-img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}



/* 5-植物油 */
#plantoil{
    background-color: #EFEDF7;
}
.plantoil-subtitle{
    font-family: "Zen Old Mincho",serif;
    font-size: 1.7rem;
    text-align: center;
    padding: 5rem 0 0 0;
}
.plantoil-title{
    font-family: "Zen Old Mincho",serif;
    font-size: 2.5rem;
    color: #5C50B1;
    text-align: center;
}
.plantoil-content{
    padding: 1.5rem 0;
    text-align: left;
    margin: 0 1rem;
}
.plantoil-content h4{
    font-size: 1.2rem;
    padding-left: 2.5rem;
}
.plantoil-content p{
    font-size: 0.8rem;
    padding: 0.5rem 0 0 2.5rem;
}

.plantoil-content img{
    width: 80%;
}
.pickup-img{
    /* display: inline-block; */
    transform: translateY(-50%) translateX(1em);
    margin: 0;
    padding: 0;
}
.pickup-amino{
    padding: 0 2rem;
    background-color: white;
    margin: 0 3rem;
}
.amino-shampoo h5{
    color: #7266C4;
    text-align: center;
    transform: translateY(-80%) translateX(1em);
}
.pickup-amino-text{
    padding: 2rem 0 0 0;
    font-size: 0.8rem;
    text-align: start;
    align-items: center;
}
/* 5−2植物油詳細 */
.plants-element{
    padding: 2rem 0 5rem 0;

}
.plants-element h3{
    color: #7266C4;
    text-align: center;
    font-family: "Zen Old Mincho",serif;
    font-size: 1.5rem;
    padding: 2rem 0;
}
.plants-details1{
    padding: 2rem 1rem;
    margin: 0 6rem;
}
.plants-details1 h5{
    text-align:center;
}
.plants-details1 h6{
    text-align: center;
    font-size: 1rem;
    color: #7266C4;
    font-family: "Zen Old Mincho",serif;
    padding-top: 0.5rem;
}
.plants-details1 p{
    text-align:left;
    font-size: 0.8rem;
    margin: 0 1rem;
}
.plants-details2{
    padding: 1rem;
    margin-bottom: 5rem;
}
.plants-details2 h5{
    text-align:center;
}
.plants-details2 h6{
    text-align: center;
    font-size: 1rem;
    color: #7266C4;
    font-family: "Zen Old Mincho",serif;
    padding-top: 0.5rem;
}
.plants-details2 p{
    text-align:left;
    font-size: 0.8rem;
    margin: 0 1rem;
}
.pickup-approach{
    padding: 0 2rem;
    background-color: white;
    margin: 3rem 3rem;
}
.pickup-approach-title h5{
    color: #7266C4;
    text-align: center;
    transform: translateY(-180%) translateX(1em);
}
.approach-text{
    padding: 2.5rem 0 0 0;
    font-size: 0.8rem;
    text-align: start;
    align-items: center;
}
/* 6-Lineup */
.lineup-title h2{
    margin: 3rem 0 0 0;
    color: #7266C4;
    text-align: center;
    font-family: "Ryo Text PlusN", serif;
    font-size: 3rem;
}
.lineup-title p{
    padding: 1rem 0;
    text-align: center;
    font-size: 1rem;

}
.lineup-products{
    padding: 2rem 0 3rem 0;
    /* margin: 0 10rem; */
}
.lineup-products h4{
    text-align: right;
}
.lineup-product-subtitle{
    color: #924CA4;
    font-size: 1.2rem;
    padding: 0;
    margin: 0;
    font-family: "Hiragino Mincho ProN", serif;
}

.lineup-product-title{
    color: #924CA4;
    font-size: 1.7rem;
    border-bottom: 1px solid #AFA1D0;  
    text-align: left;
    font-family: "Hiragino Mincho ProN", serif;
    padding-top: 0.5rem;
}
.lineup-products-name{
    font-size: 0.8rem;
    padding: 1rem 0 0 0;
}
.lineup-products-name span{
    font-size: 1.5rem;
    font-style: bold;
}
.bottlesset-img h4{
    width: 80%;
    margin: 1rem;
}
.bottolesset-content{
    margin: 0 1rem 1rem 1rem;
}
.bottlesset-text h4{
    padding: 2rem 0 1rem 0;
    text-align: left;
    align-items: center;
    font-size: 1rem;
    
}
.bottlesset-text p{
    font-size: 0.8rem;
    
}
.bottlesset-text span{
    font-size: 1.5rem;
    font-style: bold;
}



@media screen and (max-width: 768px){
    .pc{
        display: none;
    }
    .sp{
        display: block;
    }
    /* ヘッダー */
    .main-text{
        padding: 5rem 0 0 2rem;
        margin:0;
    }
    .main-img{
        padding: 0 2rem 2rem 2rem;
        margin:0;
    }
    /* ３つのポイント */
    #function{
        background-color: white;
        padding-bottom: 2rem;  
    }
    .sub-title{
        margin: 0 0 0 0;
    }
    .product-name{
        font-size: 1.2rem;
    }
    .three-functions-title{
        display: inline-block;
        color:#E64077;
        font-size: 40px;
        transform: translateY(-50%) translateX(0em);
        background-color: white;
        font-family: 'Times New Roman',serif, cursive, monospace;
        text-align: center;
        align-items: center;
    }
    .img-points{
        padding-top: 1rem;
    }
    .number-pinkcircle{
        text-align: center;
    }
    .functions-text h2{
        font-size: 1.7rem;
        padding: 0 1rem;
    }
    .functions-text p{
        font-size: 0.8rem;
        padding: 0 1rem;

    }
    .products-shampoo, .products-conditioner{
        text-align: center;
    }
    .products-img{
        padding: 1.5rem 0;
    }
    .products-details p{
        margin-bottom: 0.5rem ;
    }
    /* ヘアケアセット */
    .haircareset h3{
        font-size: 0.9rem;
    }
    .haircareset-img{
        padding: 1rem 0 0 0;
    }
    .haircareset-text h4{
        font-size: 0.8rem;
        text-align: center;
    }
    .haircareset-text{
        font-size: 0.6rem;
        text-align: center;
    }
    .haircareset-text span{
        font-size: 1.3rem;
        text-align: center;
    }
    .haircareset-text button{
        width: 80%;
        text-align: center;
    }
    /* ダメージヘア */
    .damaginghair-content{
        padding: 0 0 0 0;
    }
    .damaginghair-text p{
        padding: 1.5rem 0;
    }
    .damaginghair-content h2{
        font-size: 2rem;

    }
    .hairtrouble{
        padding: 1.5rem 0;
    }
    .hairtrouble-checkbox{
        width: 35%;
        text-align: right;
    }
    .hairtrouble-content{
        width: 65%;
    }
    .hairtrouble-content p{
        padding-top: 0.5rem;
    }
    /* 4-美人ヘア */
    .beautifulhair-content{
        padding: 2.5rem 0 0 0;
    }
    .beautifulhair-content p{
        padding: 1rem 0 0 0;
    }
    .plantoil-subtitle{
        font-family: "Zen Old Mincho",serif;
        font-size: 1rem;
        text-align: left;
        padding: 3rem 0 0 2rem;
    }
    .beautifulhair-content h3{
        font-size: 1rem;
        margin: 0 0.5rem;
    }
    
    .beautifulhair-content h2{
        font-size: 1.8rem;
        padding-top: 0.5rem 0;
    }
    .beautifulhair-content p{
        font-size: 0.6rem;
        margin: 0 0.5rem;
    }

    /* 5-アミノ成分 */
    .plantoil-title{
        font-family: "Zen Old Mincho",serif;
        font-size: 2rem;
        color: #5C50B1;
        text-align: center;
    }
    .plantoil-content h4{
        padding: 2rem 0 0.5rem 0; 
        font-size: 1rem;
        text-align: center;
    }
    .plantoil-content p{
        padding: 0 0 2rem 0; 
        text-align: left;
        margin: 0 1rem;
    }
    .plantoil-content{
        text-align: center;
        padding: 1rem 0 rem 0;
    }
    .pickup-amino{
        margin: 0 1rem;
    }

    .pickup-img h4{
        text-align: center;
    }
    .pickup-img{
        transform: translateY(-50%) translateX(0em);
    }
    .amino-shampoo h5{
        transform: translateY(-60%) translateX(0em);
        font-size: 1.2rem;
    }
    .pickup-amino-text{
        padding: 0 0 2rem 0;
        margin: 0;
    }
    /* 植物詳細 */
    .plants-element h3{
        padding: 1rem 0;
    }
    .plants-details1{
        padding: 0;
        margin: 0;
    }
    .plants-details1 h6{
        font-size: 1.2rem;
    }
    .plants-details1 p{
        text-align:left;
        font-size: 0.8rem;
        margin: 0 4rem;
        padding-bottom: 1rem;
    }
    .plants-details2{
        padding: 0;
        margin: 0;
    }
    .plants-details2 h6{
        font-size: 1.2rem;
    }
    .plants-details2 p{
        text-align:left;
        font-size: 0.8rem;
        margin: 0 4rem;
        padding-bottom: 1rem;
    }
    .pickup-approach{
        margin: 3rem 2rem;
        padding: 0;
    }
    .pickup-approach-title h5{
        transform: translateY(-100%) translateX(0em);
    }
    .approach-text{
        padding: 0 0 2rem 0;
        margin: 0 1rem;
    }
    .lineup-title p{
        font-size: 0.8rem;
        margin: 0 4rem;
    }
    .lineup-products{
        margin: 0;
    }
    .lineup-products h4{
        text-align: center;
    }
    .lineup-product-subtitle, .lineup-product-title{
        margin: 0 2rem;
    }
    .lineup-product-subtitle{
        padding-top: 1rem;;
    }
    .lineup-products-name{
        margin: 0 2rem;
        padding: 1rem 0 2rem 0;
    }
    .bottlesset-img h4{
        margin: 0;
        text-align: center;
        width: 100%;
        padding: 1rem 0;
    }
    .bottolesset-content{
        margin: 0;
    }
    .bottlesset-text {
        padding-bottom: 1.5rem;
    }
    .bottlesset-text h4{
        padding: 0.5rem 0 0.5rem 0;
        text-align: center;
        font-size: 1rem;
        
    }
    .bottlesset-text p{
        font-size: 0.8rem;
        text-align: center;
        
    }
    .bottlesset-text span{
        font-size: 1.3rem;
        text-align: center;
    }
    .bottlesset-text button{
        text-align: center;
    }

    







    }
